* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* fonts og styling */

body {
  background-color: rgb(235, 229, 219);
}
header {
  border-bottom: 1px black solid;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.5rem;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: monospace;
}

h3 {
  font-size: 1.3rem;
  color: rgb(1, 1, 1);
  margin-bottom: 30px;
  margin-top: 3px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}
p {
  font-size: 1.1rem;
  color: rgb(4, 4, 4);
  padding: 5px 0;
  text-transform: capitalize;
  font-family: monospace;
}

li {
  list-style: none;
  margin: 30px auto;
}
a {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}

li a {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}

span {
  color: rgb(121, 17, 17);
}

article {
  border-bottom: rgb(42, 40, 40) solid 1px;
  padding: 10px;
}

.linje {
  border-bottom: 3px black solid;
  margin-top: 60px;
  text-align: center;
}

.itemProduct a {
  text-decoration: none;
}

.main_nav a,
.forside_nav a,
.katagorier {
  text-decoration: none;
}

.main_nav {
  display: flex;
  flex-direction: row;
}

.main_nav a {
  font-size: 1rem;
  padding: 30px;
}

.moreInfo {
  font-size: 1.1rem;
  font-family: monospace;
  background-color: grey;
  max-width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.typeProduct {
  color: rgb(67, 63, 63);
  opacity: 50%;
}

.redbox {
  display: block;
  background-color: red;
  max-width: 100px;
  height: auto;
  padding: 15px;
}

.size_container {
  margin: 50px 10px;
}

.padding_price {
  padding: 20px 20px;
}

.padding_price p {
  padding: 15px 0;
}

.container_flex {
  padding-bottom: 20px;
}

.container_flex a {
  font-size: 1rem;
  border: solid black 1px;
  text-decoration: none;
  padding: 5px;
}

.checkout {
  display: flex;
  justify-content: center;
}

.basket_button {
  background-color: black;
  color: white;
  max-width: fit-content;
  padding: 15px;
}

.basket_button:hover {
  background-color: grey;
  cursor: pointer;
}

@media (min-width: 799px) {
  h1 {
    font-size: 3rem;
    text-align: center;
  }

  h2 {
    font-size: 2.3rem;
    font-style: italic;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
  li a {
    font-size: 2rem;
  }
  .main_nav a {
    font-size: 1.3rem;
  }

  li {
    margin: 40px;
  }

  li a:hover {
    color: rgba(85, 82, 82, 0.989);
  }
}

/* generel */

/* test */
.apparel_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.apparel_container article {
  background-color: rgb(85, 85, 221);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.apparel_image_container {
  background-color: rgb(231, 158, 24);
  max-width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.apparel_image {
  max-width: 100%;
  height: 250px;
}
/* test */

.forside_nav {
  text-align: center;
  padding-top: 50px;
}

.katagorier {
  display: block;
  margin: 30px auto;
  padding: 40px;
  width: 350px;
  height: 350px;
  background-color: rgb(215, 106, 22);
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
}

.itemProduct {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.discount {
  display: flex;
  justify-content: space-between;
}

.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background-color: grey;
  color: black;
  padding: 25px;
  font-size: 1.2rem;
  font-family: monospace;
}
.itemProduct img:hover {
  opacity: 0.6;
}

.grid_product {
  margin: 5px;
}

.size_container {
  display: flex;
  flex-direction: column;
}

.container_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.size_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.color_shirt {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.color_flex {
  display: flex;
  flex-direction: row;
}

.red_shirt {
  display: block;
  width: 20px;
  height: auto;
  padding: 1px;
  border-radius: 15px;
  background-color: rgb(180, 35, 35);
  color: rgb(180, 35, 35);
  margin: 2px;
}

.blue_shirt {
  display: block;
  width: 20px;
  height: auto;
  padding: 1px;
  border-radius: 15px;
  background-color: rgb(31, 44, 189);
  color: rgb(31, 44, 189);
  margin: 2px;
}

.yellow_shirt {
  display: block;
  width: 20px;
  height: auto;
  padding: 1px;
  border-radius: 15px;
  background-color: rgb(236, 236, 94);
  color: rgb(236, 236, 94);
  margin: 2px;
}

@media (min-width: 799px) {
  .main_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* position: sticky;
    top: 0; */
  }

  .katagorier_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .katagorier {
    max-width: 600px;
    padding: 60px 0;
  }
  .katagorier:hover {
    opacity: 70%;
  }

  .produktliste {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 420px));
    gap: 1.5em;
  }

  .produktliste h2 {
    grid-column: 1/-1;
  }

  .grid_product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
  }

  .img_wrapper {
    margin: 10px;
  }

  .productInfo_right {
    margin: 10px;
  }
}
